/* .App {
  text-align: center;
} */

body {
  /* background-color: #282c34; */
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: balck;
  /* font-weight: 500; */
}